<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="form-group">
	<div class="col-sm-10 col-sm-offset-2">
		<div class="checkbox{f:if(condition: fieldConf.errors, then: ' has-error')}">
			<label for="pm-input-{field.uid}">
				<f:form.checkbox
					id="pm-input-{field.uid}"
					name="orderFields[{field.uid}]"
					value="1"/>
				<f:if condition="{field.label}" else="{field.name}" then="{field.label}"/>
			</label>
			<f:if condition="{field.additionalText}">
				<f:format.html>{field.additionalText}</f:format.html>
			</f:if>
			<f:if condition="{field.errors}">
				<f:for as="error" each="{field.errors}">
					<p class="text-danger">{error}</p>
				</f:for>
			</f:if>
		</div>
	</div>
</div>
</html>
