<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="form-group{f:if(condition: field.errors, then: ' has-error')}">
	<label class="col-sm-2 control-label" for="pm-input-{field.uid}">
		<f:if condition="{field.label}" else="{field.name}" then="{field.label}"/>
	</label>
	<div class="col-sm-10">
		<f:if condition="{field.static}">
			<f:then>
				<p class="form-control-static">{field.value}</p>
			</f:then>
			<f:else>
				<f:form.textfield
					class="form-control"
					id="pm-input-{field.uid}"
					name="orderFields[{field.uid}]"
					placeholder="{f:if(condition: field.placeholder, then: field.placeholder, else: '')}"
					value="{field.value}"/>
			</f:else>
		</f:if>
		<f:if condition="{field.errors}">
			<f:for as="error" each="{field.errors}">
				<p class="text-danger">{error}</p>
			</f:for>
		</f:if>
	</div>
</div>
</html>
