<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">

<f:layout name="Ajax"/>

<f:section name="main">
	<f:for as="p" each="{latestVisitedProducts}">
		<div class="col-md-3">
			<f:if condition="{product.disableSingleView}">
				<f:then>
					<f:render arguments="{product: p}" section="product"/>
				</f:then>
				<f:else>
					<ppm:link.link pageUid="{settings.pagePid}" product="{p}">
						<f:render arguments="{product: p}" section="product"/>
					</ppm:link.link>
				</f:else>
			</f:if>
		</div>
	</f:for>
</f:section>

<f:section name="product">
	<div class="item">
		<f:render arguments="{image: product.thumbnail, title: product.name}" partial="Product/ListImage"/>
		<div class="item-body">
			<div class="item-title">
				<h4>{product.name}</h4>
			</div>
		</div>
	</div>
</f:section>
</html>