<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers/Backend">
<f:if condition="{activeCategory}">
	<div class="back-button">
		<f:if condition="{activeCategory.parent}">
			<f:then>
				<f:link.action action="listCategories" arguments="{category: activeCategory.parent}" class="btn btn-default">
					<pxa:translate key="be.go_back"/>
				</f:link.action>
			</f:then>
			<f:else>
				<f:link.action action="listCategories" class="btn btn-default">
					<pxa:translate key="be.go_back"/>
				</f:link.action>
			</f:else>
		</f:if>
	</div>
</f:if>
</html>