<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{categoryBreadCrumbs}">
	<ul class="breadcrumb">
		<f:for as="category" each="{categoryBreadCrumbs}" iteration="i">
			<f:if condition="{i.isLast}">
				<f:then>
					<li class="active">{category.title}</li>
				</f:then>
				<f:else>
					<li class="active">
						<f:link.action action="listCategories" arguments="{category: category}">
							{category.title}
						</f:link.action>
					</li>
				</f:else>
			</f:if>
		</f:for>
	</ul>
</f:if>
</html>