<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{positions}">
	<f:if condition="{positions.prev.{record.uid}}">
		<f:then>
			<a class="btn btn-default"
				href="{pxa:getMoveLink(uid: record.uid, positionUid: '{positions.prev.{record.uid}}', table: tableName)}"
				title="{pxa:translate(key: 'be.move_up')}">
				<core:icon identifier="actions-move-up"/>
			</a>
		</f:then>
		<f:else>
            <span class="btn btn-default disabled">
                <core:icon identifier="empty-empty"/>
            </span>
		</f:else>
	</f:if>
	<f:if condition="{positions.next.{record.uid}}">
		<f:then>
			<a class="btn btn-default"
				href="{pxa:getMoveLink(uid: record.uid, positionUid: '{positions.next.{record.uid}}', table: tableName)}"
				title="{pxa:translate(key: 'be.move_down')}">
				<core:icon identifier="actions-move-down"/>
			</a>
		</f:then>
		<f:else>
            <span class="btn btn-default disabled">
                <core:icon identifier="empty-empty"/>
            </span>
		</f:else>
	</f:if>
</f:if>
</html>
