<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers/Backend">
<f:if condition="{translations}">
	<f:then>
		<a aria-controls="collapseOne"
			aria-expanded="false"
			class="collapsed btn btn-info"
			data-parent="#accordion"
			data-toggle="collapse"
			href="#collapse-{uid}"
			role="button">
			<pxa:translate arguments="{count: '{translations -> f:count()}'}"
				key="be.show_translations"/>
		</a>
	</f:then>
	<f:else>
        <span>
            <button class="btn btn-default" disabled="disabled" type="button">
                <pxa:translate key="be.no_translation"/>
            </button>
        </span>
	</f:else>
</f:if>
</html>
