<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:if condition="{image}">

	<div class="group-list-banner">
		<div class="group-list-banner__wrp">
			<picture>
				<source media="(min-width: 1200px)" srcset="{f:uri.image(image: image, maxWidth: settings.defaultWidth, cropVariant: 'default')}">
				<f:if condition="{settings.includeDoubleDensityImages}">
					<f:then>
						<source media="(min-width: 992px)" srcset="{f:uri.image(image: image, maxWidth: '1200', cropVariant: 'default')}, {f:uri.image(image: image, maxWidth: '2400', cropVariant: 'default')} 2x">
						<source media="(min-width: 768px)" srcset="{f:uri.image(image: image, maxWidth: '992', cropVariant: 'medium')}, {f:uri.image(image: image, maxWidth: '1984', cropVariant: 'medium')} 2x">
						<source media="(max-width: 767px)" srcset="{f:uri.image(image: image, maxWidth: '768', cropVariant: 'small')}, {f:uri.image(image: image, maxWidth: '1536', cropVariant: 'small')} 2x">
					</f:then>
					<f:else>
						<source media="(min-width: 992px)" srcset="{f:uri.image(image: image, maxWidth: '1200', cropVariant: 'default')}">
						<source media="(min-width: 768px)" srcset="{f:uri.image(image: image, maxWidth: '992', cropVariant: 'medium')}">
						<source media="(max-width: 767px)" srcset="{f:uri.image(image: image, maxWidth: '768', cropVariant: 'small')}">
					</f:else>
				</f:if>
				<!--- Fallback -->
				<f:image class="img-responsive group-list-banner__img" cropVariant="default" image="{image}" longdesc="{image.description}" maxWidth="{settings.defaultWidth}"/>
			</picture>

			<f:if condition="{image.originalResource.title} || {image.originalResource.description}">
				<div class="group-list-banner__text">
					<f:if condition="{image.originalResource.title}">
						<h2>{image.originalResource.title}</h2>
					</f:if>

					<f:if condition="{image.originalResource.description}">
						<f:format.html>{image.originalResource.description}</f:format.html>
					</f:if>
				</div>
			</f:if>
		</div>
	</div>

</f:if>

</html>