<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
	<f:if condition="{products}">
		<f:then>
			<table class="table">
				<tbody>
				<tr>
					<td class="red-rows">
                        <span class="red-rows-cub">
                            <b><f:translate key="fe.red_rows_indicates_differences"/></b>
                        </span>
					</td>
					<f:for as="product" each="{products}">
						<td>
							<f:if condition="{product.disableSingleView}">
								<f:then>
									<f:render arguments="{product: product}" section="item"/>
								</f:then>
								<f:else>
									<ppm:link.link pageUid="{settings.pagePid}" product="{product}">
										<f:render arguments="{product: product}" section="item"/>
									</ppm:link.link>
								</f:else>
							</f:if>
						</td>
					</f:for>
				</tr>
				<f:for as="diffDataSet" each="{diffData}">
					<tr class="product-compare-label">
						<td>{diffDataSet.attributeSet.name}</td>
						<f:render arguments="{products: products}" section="attributeSetFirstRowProductsLinks"/>
					</tr>
					<f:for as="attributeDiffRow" each="{diffDataSet.attributesListDiff}">
						<tr class="{f:if(condition: '{attributeDiffRow.isDifferent}', then: 'danger')}">
							<td>{attributeDiffRow.label}</td>
							<f:render arguments="{attributes: attributeDiffRow.attributesList}" section="attributes"/>
						</tr>
					</f:for>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<div class="list-no-products-found">
				0 -
				<f:translate key="fe.number_of_results_found"/>
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="attributes">
	<f:for as="attribute" each="{attributes}">
		<f:if condition="{attribute}">
			<f:then>
				<td>
					<f:render arguments="{attribute: attribute}"
						partial="Product/Attribute/Type{attribute.type}"/>
				</td>
			</f:then>
			<f:else>
				<td>-</td>
			</f:else>
		</f:if>
	</f:for>
</f:section>

<f:section name="attributeSetFirstRowProductsLinks">
	<f:for as="product" each="{products}">
		<td>
			<f:if condition="{product.disableSingleView}">
				<f:then>{product.name}</f:then>
				<f:else>
					<ppm:link.link pageUid="{settings.pagePid}" product="{product}">
						{product.name}
					</ppm:link.link>
				</f:else>
			</f:if>
		</td>
	</f:for>
</f:section>

<f:section name="item">
	<f:if condition="{product.thumbnail}">
		<f:then>
			<div class="item-img">
				<f:image alt="{product.name}"
					image="{product.thumbnail}"
					maxHeight="{settings.images.compareView.maxHeight}"
					maxWidth="{settings.images.compareView.maxWidth}"
					title="{product.name}"/>
			</div>
		</f:then>
		<f:else>
			<div class="item-img centered">
				<f:image alt="{product.name}"
					height="{settings.images.listView.maxHeight}"
					src="{settings.images.pathNoImage}"
					title="{product.name}"
					width="{settings.images.listView.maxWidth}"/>
			</div>
		</f:else>
	</f:if>
</f:section>
</html>
