<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
	<div class="pm-products-user-list">
		<f:if condition="{products}">
			<f:for as="product" each="{products}">
				<div class="col-md-4 col-sm-6">
					<f:if condition="{product.disableSingleView}">
						<f:then>
							<f:render arguments="{product: product}" section="item"/>
						</f:then>
						<f:else>
							<ppm:link.link pageUid="{settings.pagePid}" product="{product}">
								<f:render arguments="{product: product}" section="item"/>
							</ppm:link.link>
						</f:else>
					</f:if>
				</div>
			</f:for>
		</f:if>
		<div class="list-no-products-found">
			0 -
			<f:translate key="fe.number_of_results_found"/>
		</div>
	</div>
	<f:if condition="{products}">
		<div style="clear: both">
			<f:link.page pageUid="{settings.compareViewPid}">
				<button class="btn btn-default" type="button" value="compare_goto">
					<f:translate key="fe.compare_goto"/>
				</button>
			</f:link.page>
		</div>
	</f:if>
</f:section>

<f:section name="item">
	<div class="item">
		<f:render arguments="{image: product.thumbnail, title: product.name, product: product}" partial="Product/ListImage"/>
		<div class="pm-action-button in-progress list-clear__icon"
			data-add-to-list-text="{f:translate(key: 'fe.wish_list.add_title')}"
			data-ajax-uri="{f:uri.action(controller: 'AjaxJson', action: 'toggleCompareList', absolute: '1', arguments: '{compareProduct: product}', pageType: '{settings.wishList.pageType}')}"
			data-compare-list-button="1"
			data-delete-parent-on-remove=".col-md-4"
			data-product-uid="{product.uid}"
			data-remove-from-list-text="{f:translate(key: 'fe.wish_list.remove_title')}">
			<ppm:svg
				class="pm-action-icon"
				source="{f:uri.resource(path: 'Icons/Svg/circle-cross.svg', extensionName: 'pxa_product_manager')}"/>
			<div class="lds-dual-ring">
				<div class="small"></div>
			</div>
		</div>
		<div class="item-body">
			<div class="item-title">
				<h4>{product.name}</h4>
			</div>
			<f:if condition="{settings.wishList.enable}">
				<div class="item-options-bar">
					<f:render arguments="{uid: product.uid}" partial="Product/OptionsBar/WishListButton"/>
				</div>
				<div style="clear: both;"></div>
			</f:if>
		</div>
	</div>
</f:section>
</html>
