<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
	<f:flashMessages/>

	<f:if condition="{products}">
		<f:for as="product" each="{products}">
			<f:render arguments="{product:product, image: product.thumbnail, category: category}" section="item"/>
		</f:for>
	</f:if>

</f:section>

<f:section name="item">
	<div class="col-md-4 col-sm-6">
		<f:render arguments="{_all}" partial="Product/Card"/>
	</div>
</f:section>

</html>