<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{product.attributes}">
	<h3>
		<f:translate key="fe.attributes"/>
	</h3>

	<table class="table">
		<f:if condition="{settings.attributes.includeSkuInAttributeListing} && {product.sku}">
			<tr>
				<th>
					<f:translate key="fe.sku"/>
				</th>
				<td>
					{product.sku}
				</td>
			</tr>
		</f:if>

		<f:if condition="{settings.attributes.divideAttributesBySets}">
			<f:then>
				<f:for as="attributesGroupedBySet" each="{product.attributesGroupedBySets}">
					<tr>
						<th>
							{attributesGroupedBySet.name}
						</th>
						<td></td>
					</tr>
					<f:render arguments="{attributes: attributesGroupedBySet.attributes}" section="attributes"/>
				</f:for>
			</f:then>
			<f:else>
				<f:render arguments="{attributes: product.attributes}" section="attributes"/>
			</f:else>
		</f:if>
	</table>

	<f:if condition="{product.attributesDescription}">
		<div class="attributes-description">
			<f:format.html>{product.attributesDescription}</f:format.html>
		</div>
	</f:if>

</f:if>

<f:section name="attributes">
	<f:for as="attribute" each="{attributes}">
		<f:if condition="{attribute.showInAttributeListing}">
			<f:comment>Label need to output only value</f:comment>
			<f:switch expression="{attribute.type}">
				<f:case value="8">
					<f:if condition="{attribute.value}">
						<tr>
							<td colspan="2">
								<h4>{attribute.value}</h4>
							</td>
						</tr>
					</f:if>
				</f:case>
				<f:defaultCase>
					<tr>
						<th>
							<f:if condition="{attribute.icon}">
								<f:image alt="{f:if(condition: attribute.label, then: attribute.label, else: attribute.name)}"
									class="{settings.attributes.iconClasses}"
									image="{attribute.icon}"
									maxHeight="{settings.attributes.iconMaxSize}"
									maxWidth="{settings.attributes.iconMaxSize}"
									title="{f:if(condition: attribute.label, then: attribute.label, else: attribute.name)}"/>
							</f:if>
							<f:if condition="{attribute.label}" else="{attribute.name}" then="{attribute.label}"/>
						</th>
						<td>
							<f:render arguments="{attribute: attribute}"
								partial="Product/Attribute/Type{attribute.type}"/>
						</td>
					</tr>
				</f:defaultCase>
			</f:switch>
		</f:if>
	</f:for>
</f:section>
</html>
