<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">
<f:if condition="{title}">
	<div class="item-title">
		<h4>{title}</h4>
	</div>
</f:if>

<f:if condition="{product.disableSingleView}">
	<f:then>
		<f:render arguments="{_all}" section="item"/>
	</f:then>
	<f:else>
		<ppm:link.link category="{category}" excludeCategories="{settings.excludeCategoriesFromUrl}" pageUid="{settings.pagePid}" product="{product}">
			<f:render arguments="{_all}" section="item"/>
		</ppm:link.link>
	</f:else>
</f:if>

<f:section name="item">
	<div class="item {product.additionalClasses}">
		<!-- Image -->
		<f:render arguments="{product: product, image: image, title: '{f:if(condition: title, then: title, else: product.name)}'}" partial="Product/ListImage"/>

		<!-- Options bar -->
		<f:if condition="{product}">
			<!-- Item body -->
			<div class="item-body">

				<!-- Title -->
				<div class="item-title">
					<h4>{product.name}</h4>
				</div>

				<f:if condition="{settings.wishList.enable} || {settings.compareList.enable}">
					<div class="item-options-bar">
						<f:if condition="{settings.wishList.enable}">
							<f:render arguments="{uid: product.uid}" partial="Product/OptionsBar/WishListButton"/>
						</f:if>
						<f:if condition="{settings.compareList.enable}">
							<f:render arguments="{uid: product.uid}" partial="Product/OptionsBar/CompareListButton"/>
						</f:if>
					</div>
					<div style="clear: both;"></div>
				</f:if>
			</div>
		</f:if>
	</div>
</f:section>
</html>
