<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{image}">
	<f:then>
		<div class="item-img">
			<f:image alt="{title}"
				data="{fly-image: '{f:if(condition: product, then: product.uid, else: 0)}'}"
				image="{image}"
				maxHeight="{settings.images.listView.maxHeight}"
				maxWidth="{settings.images.listView.maxWidth}"
				title="{title}"/>
		</div>
	</f:then>
	<f:else>
		<f:if condition="{settings.images.pathNoImage}">
			<div class="item-img centered">
				<f:image alt="{title}"
					height="{settings.images.listView.maxHeight}"
					src="{settings.images.pathNoImage}"
					width="{settings.images.listView.maxWidth}"/>
			</div>
		</f:if>
	</f:else>
</f:if>
</html>
