<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">
<div class="row">
	<div class="single-product-related">
		<div class="col-md-12">
			<h3>
				<f:translate key="{headerTranslationIndex}"/>
			</h3>
		</div>
		<f:for as="p" each="{relatedProducts}">
			<div class="col-md-3">
				<f:if condition="{product.disableSingleView}">
					<f:then>
						<f:render arguments="{product: p}" section="product"/>
					</f:then>
					<f:else>
						<ppm:link.link pageUid="{settings.pagePid}" product="{p}">
							<f:render arguments="{product: p}" section="product"/>
						</ppm:link.link>
					</f:else>
				</f:if>
			</div>
		</f:for>
	</div>
</div>

<f:section name="product">
	<div class="item">
		<f:render arguments="{image: product.thumbnail, title: product.name}" partial="Product/ListImage"/>
		<div class="item-body">
			<div class="item-title">
				<h4>{product.name}</h4>
			</div>
		</div>
	</div>
</f:section>
</html>
