<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">
<ul class="products-menu level-{level}">
	<f:for as="menuItem" each="{items}">
		<li class="menu-item level-{level}{f:if(condition: menuItem.subItems, then: ' has-children', else: ' no-children')}">
			<ppm:link.link additionalAttributes="{data-uid: menuItem.item.uid}"
				category="{menuItem.category}"
				class="menu-item-link{f:if(condition: menuItem.isActive, then: ' active', else: '')}{f:if(condition: menuItem.isCurrent, then: ' current', else: '')}"
				pageUid="{settings.pageUid}"
				title="{menuItem.item.title}">
				{menuItem.category.title}
			</ppm:link.link>
			<f:if condition="{menuItem.subItems}">
				<f:render arguments="{items: menuItem.subItems, level: '{menuItem.level}'}"
					partial="Navigation/Menu"/>
			</f:if>
		</li>
	</f:for>
</ul>
</html>
