<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="pull-left">
	<div class="wish-list-btn pm-action-button in-progress ongoing-initialization"
		data-add-to-list-text="{f:translate(key: 'fe.wish_list.add_title')}"
		data-ajax-uri="{f:uri.action(controller: 'AjaxJson', action: 'toggleWishList', absolute: '1', arguments: '{wishProduct: uid}', pageType: '{settings.wishList.pageType}')}"
		data-delete-parent-on-remove="{deleteParent}"
		data-product-uid="{uid}"
		data-remove-from-list-text="{f:translate(key: 'fe.wish_list.remove_title')}"
		data-wish-list-button="1">
		<span class="pm-action-icon pm-like-button" style="background-image: url({f:uri.image(src: '{settings.wishList.buttonIcon}')})"></span>
		<f:render partial="Product/Loader"/>
	</div>
</div>
</html>
