<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="wish-list-btn pm-action-button in-progress ongoing-initialization btn btn-default btn-wish-list-single-view-wrapper"
	data-add-to-list-text="{f:translate(key: 'fe.wish_list.add_title')}"
	data-ajax-uri="{f:uri.action(controller: 'AjaxJson', action: 'toggleWishList', absolute: '1', arguments: '{wishProduct: uid}', pageType: '{settings.wishList.pageType}')}"
	data-delete-parent-on-remove="{deleteParent}"
	data-product-uid="{uid}"
	data-remove-from-list-text="{f:translate(key: 'fe.wish_list.remove_title')}"
	data-wish-list-button="1">
	<span class="btn-wish-list-single-view"></span>
	<f:render partial="Product/Loader"/>
</div>
</html>
