<html data-namespace-typo3-fluid="true"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers/Backend">

<f:layout name="BELayout"/>

<f:section name="main">
	<h1>
		<pxa:translate key="be.module_name"/>
		- "{pageTitle}"
	</h1>

	<f:flashMessages/>

	<f:if condition="{categories}">
		<f:then>
			<f:render arguments="{categoryBreadCrumbs: categoryBreadCrumbs}" partial="Backend/CategoryBreadCrumbs"/>

			<f:render arguments="{label: 'create_new_category', newRecordUrl: newRecordUrl}" partial="Backend/NewRecordButton"/>

			<f:render arguments="{activeCategory: activeCategory}" partial="Backend/BackButton"/>

			<div aria-multiselectable="true" class="panel-group" id="category-list" role="tablist">
				<f:for as="category" each="{categories}">
					<f:alias
						map="{translations: '{pxa:getRecordTranslations(uid: category.uid, table: \'sys_category\')}'}">
						<div class="panel panel-default">
							<div class="panel-heading"
								id="heading-{category.uid}"
								role="tab">
								<div class="row panel-title">
									<div class="col-xs-4">
										<a class="record-title"
											href="{pxa:recordEditUrl(uid: category.uid)}"
											title="{pxa:translate(key: 'be.edit_category', arguments: '{0: category.title}')}">
											<f:format.raw>
												<pxa:getRecordIcon table="sys_category" uid="{category.uid}"/>
											</f:format.raw>
											{category.title} (id: {category.uid})
										</a>
									</div>
									<div class="col-xs-8">
										<a class="btn btn-default"
											href="{pxa:recordEditUrl(uid: category.uid)}"
											title="{pxa:translate(key: 'be.edit_category', arguments: '{0: category.title}')}">
											<core:icon identifier="actions-open"/>
										</a>

										<f:render arguments="{positions: categoriesPositions, record: category, tableName: 'sys_category'}"
											partial="Backend/SortingControls"/>

										<f:render arguments="{uid: category.uid, translations: translations}" partial="Backend/TranslationsButton"/>

										<f:if condition="{category.subCategories -> f:count()}">
											<f:then>
												<f:link.action action="listCategories"
													arguments="{category: category}"
													class="btn btn-info">
													<pxa:translate key="be.see_subcategories"/>
													({category.subCategories -> f:count()})
												</f:link.action>
											</f:then>
											<f:else>
												<button class="btn btn-default" disabled="disabled" type="button">
													<pxa:translate key="be.no_subcategories"/>
												</button>
											</f:else>
										</f:if>
										<f:if condition="{products.{category.uid}}">
											<f:then>
												<f:link.action action="listProducts"
													arguments="{category: category}"
													class="btn btn-info">
													<pxa:translate key="be.see_products"/>
													({products.{category.uid} -> f:count()})
												</f:link.action>
											</f:then>
											<f:else>
												<button class="btn btn-default" disabled="disabled" type="button">
													<pxa:translate key="be.no_products"/>
												</button>
											</f:else>
										</f:if>
									</div>
								</div>
							</div>

							<f:render arguments="{uid: category.uid, translations: translations, itemName: 'category', table: 'sys_category', titleField: 'title'}" partial="Backend/TranslationsPanel"/>
						</div>
					</f:alias>
				</f:for>
			</div>

			<f:render arguments="{activeCategory: activeCategory}" partial="Backend/BackButton"/>
		</f:then>
		<f:else>
			<f:render arguments="{title: '{pxa:translate(key: \'be.no_categories\')}', body: '{pxa:translate(key: \'be.no_categories_text\')}'}" partial="Backend/Notification"/>
		</f:else>
	</f:if>
</f:section>
</html>
