<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">
<select class="productmanager-filter list-group filter-rendertype__{filter.type}"
	data-attribute-uid="{f:if(condition: filter.attribute, then: '{filter.attribute.uid}', else: '{filter.parentCategory.uid}')}"
	data-filter-conjunction="{filter.conjunctionAsString}"
	data-filter-type="{filter.type}"
	data-identifier="{filter.type}-{f:if(condition: filter.attribute, then: '{filter.attribute.uid}', else: '{filter.parentCategory.uid}')}"
	data-placeholder="{filterName}"
	data-uid="{filter.uid}"
	multiple
	style="visibility: hidden; width: 100%">
	<f:for as="option" each="{ppm:filterOptions(filter: filter)}">
		<option value="{option.value}">{option.title}</option>
	</f:for>
</select>
</html>
