<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">

<f:render arguments="{label: 'from', range: 'min', filter: filter}" section="select"/>
<f:render arguments="{label: 'to', range: 'max', filter: filter}" section="select"/>

<f:section name="select">
	<select class="productmanager-filter list-group filter-rendertype__{filter.type}"
		data-attribute-uid="{f:if(condition: filter.attribute, then: '{filter.attribute.uid}', else: '{filter.parentCategory.uid}')}"
		data-filter-conjunction="{filter.conjunctionAsString}"
		data-filter-type="{filter.type}"
		data-identifier="{filter.type}-{f:if(condition: filter.attribute, then: '{filter.attribute.uid}', else: '{filter.parentCategory.uid}')}-{range}"
		data-minimum-results-for-search="15"
		data-placeholder="{f:translate(key: 'fe.minmax.{label}')}"
		data-range="{range}"
		data-uid="{filter.uid}"
		style="visibility: hidden; width: 50%">
		<option></option>
		<f:for as="option" each="{ppm:filterOptions(filter: filter)}">
			<option data-option-uid="{option.uid}" value="{option.value}">{option.title}</option>
		</f:for>
	</select>
</f:section>
</html>
