<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ppm="http://typo3.org/ns/Pixelant/PxaProductManager/ViewHelpers">
<div class="product-filter-wrapper" data-ajax-target=".products-list-view-wrapper" data-use-ajax="1">
	<div class="filter-clear">
		<a class="filter-clear__link" data-reset-filter="1" href="javascript: {}">
			<f:translate key="fe.clear_filter"/>
			<span class="filter-clear__icon">
                <ppm:svg source="{f:uri.resource(path: 'Icons/Svg/circle-cross.svg', extensionName: 'pxa_product_manager')}"/>
            </span>
		</a>
	</div>
	<form class="row productmanager-filter_options" name="pxa-pm-filtering">
		<f:for as="filter" each="{filters}">
			<div class="filter-wrapper col-sm-3">
				<h3>{filterName}</h3>
				<f:render arguments="{filter: filter, filterName: '{f:if(condition: filter.label, then: filter.label, else: filter.name)}'}" partial="Filtering/FilterType{filter.type}"/>
			</div>
		</f:for>
	</form>
</div>
</html>